.logo{
  left: 35%;
  flex: 0 0 100%;
}
@keyframes logo{
  from {
    transform: rotate(0) scale(s);
  }
  0%{
    transform: rotate(-720deg) scale(1);
    left: 35%;
  }
  to{
  transform: rotate(0) scale(1);
  }
}
.flex-list{
  margin-top: 110px;
  margin-left: 0;
  flex-flow: column;

}
.flex-list li{
  visibility: hidden;
  padding: 0;
}
.flex-list a{
  visibility: visible;
  border-top: 1px dashed gray;
}
.fourboxes{
  display: none;
}
.columnone{
  display :none;
}
.social{
  flex: 1 1 100%;
  border-right: none;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  /*margin-left: -30px;*/
  border-bottom: 1px dashed gray;
}
.social li:nth-of-type(odd), li:nth-of-type(even){
  flex: 1 1 50%;
}
.copyright{
  flex: 1 1 100%;
  border-right: none;
  padding-bottom: 10px;
  border-bottom: 1px dashed gray;
}
.comment{
  flex: 1 1 100%;
  margin-bottom: 20px;
  /*padding-bottom: 30px;*/
}
